body {
  min-height: 100vh;
}

/* Header styles */
header {
  width: 100%;
  padding: 0 54px;
  margin: 48px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  gap: 30px;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center; /*Centrare ul*/
}

header nav ul li {
  width: 125px;
  height: 50px;
  text-align: center;
  position: relative;
}

header nav ul li a {
  color: #000000;
  transition: all 0.45s;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

header nav ul li:hover {
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  padding-bottom: 10px;
  animation: line 1s;
}

header nav ul li:hover a {
  color: #f31414;
}

header div {
  gap: 16px;
  align-items: center;
  display: flex;
  flex-direction: row;
}

header div a {
  align-items: center;
  gap: 8px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
}

.icon-cart {
  position: relative;
}

.icon-cart span {
  display: flex;
  width: 28px;
  height: 28px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 20%;
}

.nav-toggle {
  display: none;
}

.icon-navbar-phone {
  display: none;
}

/* Hero-section styles */

.hero-section {
  display: grid;
  width: 100%;
  height: 400px;
  grid-template-columns: 64px 1fr 64px;
}

.hero-content {
  grid-column: 2;
  border-radius: 24px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

main section div h1 {
  margin-left: 24px;
  margin-bottom: 20px;
}

main section div a {
  margin-left: 24px;
}

.hero-image {
  width: 710px;
  height: 500px;
  flex-shrink: 0;
  position: absolute;
  top: 7rem;
  right: 3rem;
}

/* Product-overview styles */

.product-overview-section {
  display: grid;
  grid-template-columns: 64px 1fr 64px;
  width: 100%;
  align-items: flex-start;
  margin-top: 90px;
  row-gap: 32px;
}

.product-overview-section-row {
  grid-column: 2/3;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
}

.product-overview-card-small {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 24px;
  height: 260px;
  width: 270px;
}

.product-overview-card-big {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 24px;
  height: 260px;
  width: 540px;
}

.product-overview-card-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 4px;
  position: absolute;
  bottom: 16px;
  left: 16px;
}

.product-overview-image-1 {
  width: 170px;
  height: 170px;
  position: absolute;
  top: 4px;
  right: 4px;
}

.product-overview-image-2 {
  width: 240px;
  height: 100px;
  position: absolute;
  top: 4px;
  right: 6px;
}

.product-overview-image-3 {
  width: 300px;
  height: 250px;
  transform: rotate(16deg);
  position: absolute;
  top: 4px;
  right: 20px;
}

.product-overview-image-4 {
  width: 300px;
  height: 270px;
  position: absolute;
  top: 0;
  right: 16px;
}

.product-overview-image-5 {
  width: 190px;
  height: 140px;
  position: absolute;
  top: 6px;
  right: 4px;
}

.product-overview-image-6 {
  width: 160px;
  height: 160px;
  position: absolute;
  top: 4px;
  right: 4px;
}

/* Customer-advantages styles */

.customer-advantages-section {
  display: grid;
  grid-template-columns: 64px 1fr 64px;
  width: 100%;
  align-items: flex-start;
  margin-top: 90px;
}

.customer-advantages-cards {
  grid-column: 2/3;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
}

.customer-advantages-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-items: center;
  gap: 16px;
  width: 270px;
}

.customer-advantages-card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

/* Main-banner styles */

.main-banner-section {
  display: grid;
  grid-template-columns: 64px 1fr 64px;
  width: 100%;
  margin-top: 120px;
}

.main-banner-bg {
  position: relative;
  grid-column: 2/3;
  display: flex;
  align-items: center;
  padding: 36px;
  border-radius: 24px;
  justify-content: space-between;
}

.main-banner-image {
  position: absolute;
  width: 600px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-banner-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  max-width: 500px;
}

.main-banner-offer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  max-width: 350px;
  margin-right: 40px;
}

.main-banner-offer-texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

/* Footer styles */

footer {
  display: grid;
  grid-template-columns: 64px 1fr 64px;
  width: 100%;
  margin-top: 90px;
  margin-bottom: 60px;
}

.footer-bg {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 44px;
  border-radius: 24px;
  row-gap: 16px;
}

.footer-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  row-gap: 28px;
}

.footer-left-content {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.footer-right {
  display: flex;
  flex-direction: column;
  row-gap: 28px;
  align-items: end;
}

.footer-right-info {
  display: flex;
  flex-direction: row;
  gap: 24px;
  flex-wrap: wrap;
}

.footer-right-info-column {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.footer-right-links {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

/* Title-banner styles */

.tile-banner-section {
  display: grid;
  grid-template-columns: 64px 1fr 64px;
  width: 100%;
  margin-top: 48px;
  align-items: center;
  justify-content: center;
}

.tile-banner-content {
  grid-column: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px;
  border-radius: 24px;
  width: 100%;
}

.tile-banner-content h1 {
  text-align: center;
}

/* Welcome styles */

.welcome-section {
  display: grid;
  grid-template-columns: 64px 1fr 64px;
  width: 100%;
  margin-top: 90px;
}

.welcome-content {
  grid-column: 2/3;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
}

.welcome-content h3 {
  max-width: 300px;
}

.welcome-img {
  width: 650px;
}

/* About-Us-cards styles */

.aboutUs-cards-section {
  display: grid;
  grid-template-columns: 64px 1fr 64px;
  width: 100%;
  margin-top: 90px;
}

.aboutUs-cards {
  grid-column: 2/3;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
}

.aboutUs-card {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-items: start;
  padding: 32px;
  border-radius: 24px;
  max-width: 400px;
}

.aboutUs-card-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

/* Policy styles */

.policy-section {
  display: grid;
  grid-template-columns: 64px 1fr 64px;
  width: 100%;
  margin-top: 90px;
}

.policy-content {
  grid-column: 2/3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.policy-rules {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.policy-rule {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.policy-rule-texts {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.policy-rule-texts ul {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.privacy-img {
  border-radius: 24px;
  width: 900px;
}

/* Contact-form styles */

.contact-form-section {
  display: grid;
  grid-template-columns: 64px 1fr 64px;
  width: 100%;
  margin-top: 90px;
}

.contact-form-content {
  grid-column: 2/3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
}

.contact-form-details {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.contact-form-details-row {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.lightblue-linear::placeholder {
  color: #e5e5e5;
}

input {
  padding: 16px;
  border: none;
  border-radius: 24px;
}

input:focus {
  outline: none;
}

.lightblue-linear:focus {
  color: #031a08;
}

.contact-form-newsletter {
  max-width: 500px;
  border-radius: 24px;
  padding: 28px;
  display: flex;
  flex-direction: column;
}

.contact-form-newsletter-content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.contact-form-newsletter-info {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.contact-form-newsletter-contact {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-items: flex-start;
}

/* Map styles */

.map-section {
  display: grid;
  grid-template-columns: 64px 1fr 64px;
  width: 100%;
  margin-top: 90px;
  height: 300px;
}

.map-content {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  width: 100%;
}

.map-content iframe {
  border-radius: 24px;
  display: flex;
  width: 100%;
  height: 100%;
  border: 0;
}

/* Blog styles */

.blog-articles-section {
  display: grid;
  grid-template-columns: 64px 1fr 64px;
  width: 100%;
  margin-top: 90px;
}

.blog-articles-content {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.blog-article-content-row {
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}

.blog-article {
  align-items: start;
  max-width: 450px;
  padding: 28px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.blog-article img {
  width: 370px;
  border-radius: 20px;
}

/* Shopping-cart styles */

.shopping-cart-section {
  display: grid;
  grid-template-columns: 64px 1fr 64px;
  width: 100%;
  margin-top: 90px;
}

.shopping-cart-content {
  grid-column: 2/3;
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  border-radius: 24px;
  padding: 32px;
}

#product-image-cart {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.shopping-cart-content img {
  width: 460px;
}

.shopping-cart-container {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  align-items: start;
}

.shopping-cart-container-content {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  align-items: start;
  border-radius: 28px;
  padding: 28px;
  width: 100%;
  justify-content: center;
}

.shopping-cart-row.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 64px;
}

.shopping-cart-row.header > div {
  flex: 1;
}

.shopping-cart-row.product {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  gap: 44px;
  align-items: center;
}

.product-info {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  width: 150px;
}

.product-image-container {
  width: 80px;
  height: 80px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-image-cart {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.quantity-info {
  display: flex;
  justify-content: center;
  flex: 1;
}

.price-info {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.shopping-cart-container-product-prices {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  align-self: flex-end;
}

.shopping-cart-product-price {
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: space-between;
}

.quantity-button {
  display: flex;
  flex-direction: row;
  gap: 8px;
  border-radius: 12px;
  padding: 4px;
  align-items: center;
  justify-content: center;
}

/* Products-section styles */

.products-section {
  width: 100%;
  margin-top: 90px;
  display: grid;
  grid-template-columns: 64px 1fr 64px;
}

.products-section-content {
  grid-column: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 32px;
}

.products-content-row {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: flex-start;
  padding: 0 36px;
}

.product-cards {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  width: 274px;
  border-radius: 24px;
}

.product-card-image {
  display: flex;
  width: 274px;
  height: 210px;
  padding: 0px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
}

.product-card-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.product-card-description {
  margin: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 8px;
}

.product-cashback {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.cashback {
  padding: 2px 4px;
  border-radius: 4px;
}

.product-price-cart {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-category {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

/* Product-page styles */

.product-page-section {
  display: grid;
  grid-template-columns: 64px 1fr 64px;
  width: 100%;
  margin-top: 90px;
}

.product-page-content {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  align-items: center;
  border-radius: 24px;
  padding: 32px 64px;
}

.product-page-view {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.product-view-content {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.product-view-image {
  display: flex;
  width: 478px;
  height: 391px;
  padding: 32px;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
}

.product-view-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-view-description {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  border-radius: 24px;
  padding: 28px;
  justify-content: center;
}

.cashback-content {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 12px 28px;
  align-items: center;
  text-align: center;
  border-radius: 24px;
  border: none;
  border: white solid 2px;
}

.product-page-features {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: start;
  width: 400px;
}

.product-page-features-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  border-radius: 24px;
  padding: 28px;
  justify-content: center;
}

.product-page-features-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 12px;
}

.product-page-feature {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
